* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #eee;
  color: #333;
}

.container {
  height: auto;
  margin: 20px auto;
}

.container-center {
  height: auto;
  margin: 40px auto;
  text-align: center;
}

.form {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 40px;
  left: 0;
  right: 0;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form-item {
  text-align: left;
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
}

.form-item-label {
  font-size: 20px;
  width: 30%;
  margin-right: 10px;
}

.form-item-input {
  width: 70%;
}

.separator {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid #222;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.button {
  border-radius: 3px;
  padding: 5px;
  border: 1px solid black;
}

.form-cont {
  width: 50%;
  margin: auto;
}

.table-cont {
  width: 100%;
  margin: auto;
}

li {
  padding: 5px;
}

table,
th,
td {
  border: 1px solid black;
}

table {
  widows: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

th {
  background-color: #aaa;
}

td {
  padding: 2px 4px;
}
